//
//  Debug.xcconfig
//  Prototipofinal
//
//  Created by Frank Perez on 10/04/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
EXCLUDED_ARCHS[sdk=iphonesimulator*] = arm64
